 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>We are a start-up founded in 2021 providing technological capabilities to access high-quality financial data to our clients. Our team is composed of top-tier professionals who guarantee excellence in all our services.</p>
                </div>
                <div class="col-lg-4">
                    <p>Our financial services focus primarily in the Spanish geography. Making us experts of fund related information in Spain. We focus on setting up fast and resilient data deliveries to our customers.</p>
                </div>
            </div>
        </div>
    </section>
